.container {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.image {
    height: 330px;
    margin-bottom: 5px;
    border-radius: 10px;
    overflow: hidden;
}

.image > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container > h4, .rating > h5 {
    font-weight: 300;
}

.container > h4 > strong {
    font-weight: 600;
}

.container > h4:not(:last-child) {
    margin-bottom: 5px;
}

.rating {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}