.container {
    position: fixed;
    top: 0;
    left: 0;
    
    width: 100vw;
    height: 100vh;
    z-index: 2;
    overflow: scroll;

    padding: 25px;

    display: flex;
    flex-direction: column;

    background-color: var(--white);
    transition: 0.3s;
}

.container > button {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0;
    border-radius: 50%;
    width: fit-content;
}

.layout {
    margin-top: 20px;
    margin-bottom: 30px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.single {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 800px;
    max-width: 98%;
    height: 500px;
}

.pair {
    display: grid;
    width: 800px;
    max-width: 98%;
}

.pair[template=balance] {
    grid-template-columns: 1fr 1fr;
}

.pair[template=left] {
    grid-template-columns: 3fr 2fr;
}

.pair[template=right] {
    grid-template-columns: 2fr 3fr;
}

.pair[mode=portrait] {
    height: 550px;
}

.pair[mode=landscape] {
    height: 300px;
}

.group {
    display: grid;
    grid-template-columns: auto auto;
    
    width: 800px;
    max-width: 98%;
    height: 550px;
}

.group > img:first-child {
    grid-row: span 2;
}

.group > img:not(:first-child) {
    height: 50%;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 5px;
}

.originalImage {
    width: 100%;
}

.originalImage:not(:last-child) {
    margin-bottom: 10px;
}

@media (max-width: 460px) {
    .layout {
        margin-bottom: 20px;
    }
}
