@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

:root {
    --airbnb: #FF5A60;
    --airbnbDark: #E84349;

    --black: #171717;
    --white: #FFFFFF;
    
    --grey001: #FAFAFA; 
    --grey002: #F7F7F7;
    --grey003: #EBEBEB;
    --grey004: #E6E6E6;
    --grey005: #D3D3D3;
    --grey006: #9C9C9C;
    --grey007: #808080;
    --grey008: #545454;

    --transparent: rgba(0, 0, 0, 0);
}

* {
    box-sizing: border-box;
}

html, body {
    padding: 0;
    margin: 0;
    background-color: var(--grey008);
}

/* ---------- Default Styles ---------- */

h1, h2, h3, h4, h5, h6, p, a, input, button {
    font-family: 'Poppins', sans-serif;
    line-height: 1.5em;
    margin: 0px;
    padding: 0px;
}

h1 {
    font-size: 28px;
    font-weight: 600;
}

h2 {
    font-size: 1.5em;
    font-weight: 600;
}

h3 {
    font-size: 18px;
    font-weight: 400;
}

h4 { 
    font-size: 15px;
    font-weight: 500;
}

h5 {
    font-size: 14px;
    font-weight: 500;
    line-height: 2em;
}

h6 {
    font-size: 12px;
    font-weight: 600;
    line-height: 2em;
}

p, a, button {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.8em;
}

a:link {
    color: var(--black);
    text-decoration: none;
    transition: 0.4s;
}

a:visited, a:active {
    color: var(--black);
}

a:hover {
    color: brown;
}

button {
    background-color: var(--white);
    border: none;
    border-radius: 5px;
    transition: 0.4s;
    
    padding: 4px 12px;
    margin: 0px 2px;

    cursor: pointer;
}

button:hover {
    background-color: var(--grey004);
}

input {
    font-size: 13px;
    font-weight: 300;
    line-height: 2.3em;

    border: none;
    outline: none;
    background-color: var(--transparent);
}

input::placeholder {
    color: var(--grey006);
}

option {
    font-size: 20px;
}

div::-webkit-scrollbar {
    display: none;
}

/* ---------- Custom Styles ---------- */

.screenCover {
    position: absolute;
    top: 0;
    left: 0;

    width: 120vw;
    height: 120vh;

    z-index: -1;
    background-color: rgba(0, 0, 0, 0.2);
}

.screenCover[mode=transparent] {
    background-color: var(--transparent);
}