.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.banner {
    width: 100%;
    height: 100vh;
    min-height: 800px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.bannerImage {
    width: 100%;
    height: 100%;
    position: relative;
}

.bannerImage::after {
    content: '';
    background: -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0.07) 60%,rgba(0, 0, 0, 0.6) 100%);

    position: absolute;
    top: 0;
    left: 0; 
    width:100%; 
    height:100%;
}

.bannerImage > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.bannerText {
    position: absolute;
    top: 45%;
    left: 80px;
    z-index: 1;
}

.bannerTitle {
    font-size: 70px;
    line-height: 0.9em;
    color: var(--white);

    width: 100px;
}

.bannerSubtitle {
    color: var(--white);
    margin: 15px 5px 0;
}

.bannerButton {
    margin-top: 20px;
}

.section {
    color: var(--black);
    background-color: var(--white);
    padding: 50px 80px;
}

.sectionReverse {
    color: var(--white);
    background-color: var(--black);
    padding: 50px 80px;
}

.cardHolder {
    display: grid;
    justify-items: stretch;
    align-items: stretch;
    grid-auto-flow: column;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    
    overflow: scroll;

    width: 100%;
    padding: 20px 0px;
}

.tabHeader {
    display: flex;
    flex-direction: row;

    overflow: scroll;
    white-space: nowrap;
    border-bottom: 1px solid var(--grey005);

    margin: 20px -5px;
}

.tabHeader > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tabHeader > div:active {
    transform: scale(0.95);
}

.tabActive > div {
    width: calc(100% - 28px);
    height: 2px;

    margin-top: 3px;
    background: var(--black);
    transition: 0.1s;
}

.tabInactive > div {
    width: calc(100% - 28px);
    height: 2px;

    margin-top: 3px;
    background: var(--white);
    transition: 0.1s;
}

.tabInactive > button {
    color: var(--grey006);
}

.tabContent {
    display: grid;
    justify-items: stretch;
    align-items: stretch;
    grid-auto-flow: row;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 20px;
}

.tabContent > div > p {
    font-size: 14px;
}

.tabContent > div >p:last-child {
    color: var(--grey006);
}

@media (max-width: 1200px) {
    .bannerText {
        left: 5%;
    }

    .section {
        padding: 50px 5%;
    }

    .sectionReverse {
        padding: 50px 5%;
    }
}

@media (max-width: 1150px) {
    .tabContent {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 980px) {
    .bannerText {
        left: 35px;
    }

    .bannerTitle {
        font-size: 4.5em;
    }

    .section {
        padding: 50px 35px;
    }

    .sectionReverse {
        padding: 50px 35px;
    }
}

@media (max-width: 740px) {
    .tabContent {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 460px) {
    .bannerText {
        left: 25px;
    }

    .bannerTitle {
        font-size: 3.8em;
    }

    .section {
        padding: 40px 25px;
    }

    .sectionReverse {
        padding: 40px 25px;
    }
}

@media (max-height: 500px) {
    .bannerText {
        top: 90%;
    }
}
