.container[menu=stay] {
    display: grid;
    grid-template-columns: 60% 40%;
}

.stays {
    display: flex;
    flex-direction: column;

    padding: 150px 22px 30px;

    min-height: 80vh;
    background-color: var(--white);
    border-right: 0.5px solid var(--grey004);
}

.map {
    position: sticky;
    top: 80px;
    right: 0;

    border: none;
}

.container[menu=experience] {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    padding: 150px 80px 30px;
    min-height: 80vh;
}

.container[menu=experience] > h1, .container[menu=experience] > h3, .container[menu=experience] > h5 {
    width: 100%;
}

.container[menu=experience] > button {
    padding: 8px 25px;
    border-radius: 8px;
    width: fit-content;

    opacity: 0.95;
    color: var(--white);
    background-color: var(--black);
}

.container[menu=experience] > button:hover {
    opacity: 1;
}

.experiences {
    width: 100%;
    margin: 50px 0;
}

.experiences > div {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
    margin-top: 15px;
}

@media (max-width: 1150px) {
    .container[menu=stay] {
        grid-template-columns: 100%;
    }

    .map {
        display: none;
    }
}
