.containerStay {
    display: grid;
    grid-template-columns: 60% 40%;
}

.stays {
    display: flex;
    flex-direction: column;

    padding: 150px 22px 30px;

    min-height: 80vh;
    background-color: var(--white);
    border-right: 0.5px solid var(--grey004);
}

.map {
    position: sticky;
    top: 80px;
    right: 0;

    border: none;
}

.containerExperience {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    padding: 150px 80px 50px;
    min-height: 80vh;
}

.containerExperience > h1, .containerExperience > h3, .containerExperience > h5 {
    width: 100%;
}

.containerExperience > button {
    padding: 8px 25px;
    border-radius: 8px;
    width: fit-content;

    opacity: 0.95;
    color: var(--white);
    background-color: var(--black);
}

.containerExperience > button:hover {
    opacity: 1;
}

.experiences {
    width: 100%;
    margin: 50px 0;
}

.experiences > div {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px 15px;
    margin-top: 15px;
    width: 100%;
}

@media (max-width: 1300px) {
    .experiences > div {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 1150px) {
    .containerStay {
        grid-template-columns: 100%;
    }

    .map {
        display: none;
    }

    .containerExperience {
        padding: 150px 25px 50px;
    }
}

@media (max-width: 740px) {
    .experiences > div {
        grid-template-columns: repeat(2, 1fr);
    }

    .stays, .containerExperience {
        padding-top: 100px;
    }
}
